{% extends 'jobsearch/base.html' %}

{% block title %}Компания | Джуманджи<{% endblock %}

{% block content %}
{% load static %}

  <main class="container mt-3 pb-5">
    <div class="row mt-5">
      <div class="col-12 col-lg-4">
        <aside class="pt-3 pb-4 px-4 mb-5 card">
          <h1 class="h4 pt-2 pb-2">Моя компания</h1>
          <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link" href="{% url 'my_company' %}">1. Информация о компании</a>
            <a class="nav-link active" href="#">2. Вакансии</a>
          </div>
        </aside>
      </div>
      <div class="col-12 col-lg-8">
        <div class="card">
          <div class="card-body px-4 pb-4">
            <section class="tab-pane fade show active">
              {% if vacancies %}
              <h2 class="h4 pt-2 pb-3">Вакансии</h2>
              {% for vacancy in vacancies %}
              <div class="card mt-3">
                <div class="card-body px-4">
                  <div class="row align-items-center">
                    <div class="col-6 col-lg-8">
                      <a href="{% url 'vacancy'  id=vacancy.id %}" class="mb-1">{{ vacancy }}</a>
                      <p class="mb-1">

                            <span class="mr-4">{{ vacancy.salary_min }}</span>
                          {% if vacancy.applications.all.count > 0 %}
                          <a href="{% url 'vacancy_applications' id=vacancy.id %}" class="text-info">{{ vacancy.applications.all.count }} отклика</a>
                           {% else %}
                           <span class="text-muted">Нет откликов</span>
                          {% endif %}
                      </p>
                    </div>
                    <div class="col-6 col-lg-4 text-right">
                      <a href="{% url 'one_vacancy'  id=vacancy.id %}" class="btn btn-outline-info">Изменить</a>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
              {% else %}
              <p class="alert alert-info" role="alert">
                У вас пока нет вакансий, но вы можете создать первую
              </p>
                {% endif %}
            </section><br>
                      <a href="{% url 'new_vacancy' %}" class="btn btn-info mb-2">Добавить вакансию</a>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}